<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EaseEFDALConnection" 
         connectionString="data source=DEVVS2017;initial catalog=EASE_DEMO;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" 
         providerName="System.Data.SqlClient" />
  <!--<add name="MCREntities" connectionString="data source=DEVVS2017;initial catalog=EASE_DEMO;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="MCR2" connectionString="data source=DEVVS2017;initial catalog=EASE_DEMO;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>