@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>EASE MFC Explorer</h1>
    <p class="lead">The EASE MFC Explorer is a great way to explore an EASE database without using SQL tools</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Someday this will tell you how to use this tool.  For now learn about MVC
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Who made this?</h2>
        <p>
            Someday get more insight into who created this tool and why.  For now all we have is pictures.
        </p>
        @*<p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>*@
        <p><a class="btn btn-default" href="https://www.flickr.com/photos/26186612@N03/albums">Learn more &raquo;</a></p>
    </div>
</div>